%h2 Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'well' }) do |f|
  = devise_error_messages!
  = f.label :email
  = f.email_field :email
  = f.label :tagline
  = f.text_field :tagline
  %span.help-inline (this text is shown for your pin on the map)
  = f.label :status
  = f.select :status, options_for_select(User::STATUS, :selected => @user.status)
  = f.label :description
  = f.text_area :description, :rows => 4
  %div= f.submit "Update", :class => 'btn'

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
= link_to "Back", :back
