%h2 Change password
= semantic_form_for(@user, :url => user_settings_path, :html => { :method => :put }) do |f|
  = f.semantic_errors
  = f.input :current_password, as: :password, required: true
  = f.input :password, as: :password, label: "New password", required: true
  = f.input :password_confirmation, as: :password, label: "Confirm new password", required: true
  = f.action :submit, label: "Change my password", button_html: { class: 'btn btn-default' }

.navi-links
  = link_to "Back", :back
