%h3= @user.name
%h6= @user.tagline
%dl.dl-horizontal
  %dt Mail
  %dd= @user.email
  %dt Current Location
  %dd
    = "(#{@user.latitude}, #{@user.longitude})"
    = link_to "Update my location","", :id => 'update-location'
  %dt Description
  %dd= @user.description

= link_to('Edit Profile', edit_user_registration_path)
%br
%br
%h3 Everyone else:
= gmaps4rails(@json)

