%h3 User
%p= "Name: #{@user.name}"
%p= "Mail: #{@user.email}"
- if @user.location
  %p= @user.location.latitude
  %p= @user.location.longitude
= link_to "Update location","", :id => 'update-location'
= @json
= gmaps4rails(@json)

