%h3= @user.name
%h6= @user.tagline
.container
  .row.user-page
    .span2
      = image_tag avatar_url(@user, 200)
    .span6
      %dl.dl-horizontal
        %dt Contact:
        %dd= @user.email
      .lead.small
        %p= @user.description

= link_to "Update my location","", :id => 'update-location'
%br
%br
%h3 Everyone else:
= gmaps4rails(@json)

