%h2 Login
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { }) do |f|
  = devise_error_messages!
  = f.input :email, as: :email, :input_html => { :autofocus => "autofocus" }
  = f.input :password, as: :password
  = f.action :submit, label: "Login", button_html: { :class => "btn btn-default"}
= render "devise/shared/links"
