.navbar.navbar-fixed-top.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", "type" => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_url} Backpacker
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_url
        %li= link_to 'Imprint', imprint_url
        %li= link_to 'About', about_url
        - if user_signed_in?
          %li= link_to 'Profile', edit_user_registration_path
          %li= link_to 'Password', edit_user_settings_path
      .nav.navbar-nav.pull-right
        = render 'devise/menu/items'
