!!! 5
%html
  %head
    %title Find Backpacker to travel with around you!
    %meta(charset="utf-8")
    %meta{:name => "author", :content => "Meike Wiemann"}
    = csrf_meta_tag
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
    = render 'layouts/navigation'
    .container
      .row
        .span9
          .notice
            = notice
          .alert
            = alert
          %ul.hmenu
            = render 'devise/menu/login_items'
          = yield
        .span3
          %h2 About this
          %p
            This is some awsome text descriping what this website is good for
