!!! 5
%html
  %head
    %title Find Backpacker to travel with around you!
    %meta(charset="utf-8")
    %meta{:name => "author", :content => "Meike Wiemann"}
    = csrf_meta_tag
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Be sure to leave the brand out there if you want it shown
          %a.brand{:href => root_url} Backpacker
          / Everything you want hidden at 940px or less, place within here
          .nav-collapse
            / .nav, .navbar-search, .navbar-form, etc
            %ul.nav
              %li= link_to "Seite 1"
              %li= link_to "Seite 2"
              %li= link_to "Seite 3"
    .container
      .row
        .span9
          .notice
            = notice
          .alert
            = alert
          %ul.hmenu
            = render 'devise/menu/login_items'
          = yield
        .span3
          %h2 About this
          %p
            This is some awsome text descriping what this website is good for
