!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Backpacker travel partner search"
    %meta{:content => "Find backpackers to travel with around you", :name => "description"}
    %meta{:content => "Meike Wiemann", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #wrap
      = render 'layouts/navigation'
      .container.text-center
        .page-header
          %h1 Find a travel mate
        %p.lead
          Searching for people to travel with? See who's around you and wants to travel as well!
        %p
          = render 'layouts/messages'
          = yield
    #footer
      .container.text-center
        %p.text-muted
          2014 © mw
